*::after,
*::before,
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	height: 100dvh;
	background-color: #111922;
	color: white;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 120px 60px;
	gap: 40px;
}

h1 {
	font-size: 4vw;
}

section {
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: #162333;
	width: 100%;
	border-radius: 20px;
	padding: 24px 12px;
}

#display {
	max-width: 1440px;
	width: 100%;
	text-align: center;
	font-size: 10vw;
}

button {
	width: 100%;
	max-width: 250px;
	font-size: 24px;
	padding: 12px 0;
	margin-top: 20px;
	background-color: #3d4d5f;
	border: none;
	color: white;
	border-radius: 12px;
	cursor: pointer;
}

button:hover {
	background-color: #111922;
}
